<h2><a href='/'>Back to Home Page</a></h2>

<form id='search_classes_forms_form' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search classes by the category:</label>
    <select name="search_classes_forms" id="search_classes_forms">    
        {{#each classes}}
        <option value ="{{category}}">{{category}}</option>
        {{/each}}
    </select>
    <button type="button" id="searchClassesFormsButton">Search</button>
  </form>

<h3>Current Classes Forms:</h3>
<table>
    <thead> 
        <th>Class ID</th> 
        <th>Category</th>
        <th>Section</th>
        <th>Form ID</th>
        <th>Type</th>
    </thead> 
    <tbody>
        {{#each classes_forms}} 
        <tr> 
            <td>{{class_ID}}</td> 
            <td>{{category}}</td>
            <td>{{section}}</td>
            <td>{{form_ID}}</td>
            <td>{{type}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>

<h3>Add forms to classes:</h3>
<form id="addformsclasses" action="/classes_forms" method="post">
    User: <select name="class_ID"> 
        {{#each classes}}
        <option value="{{class_ID}}">{{category}} {{section}}</option>
        {{/each}}
    </select><br>
    Class: <select name="form_ID"> 
        {{#each forms}}
        <option value="{{form_ID}}">{{type}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
 </form>
<br/>