<html>
{{#each foo}}
{{this}}
{{/each}}

<h3>Current Classes:</h3>
<table>
    <thead> 
        <th>Class ID</th> 
        <th>Category</th>
        <th>Section</th>
        <th>Instructor</th>
        <th>Term</th>
        <th>Date</th>
        <th>Time</th>
        <th>Description</th>
    </thead> 
    <tbody>
        {{#each classes}} 
        <tr> 
            <td>{{class_ID}}</td> 
            <td>{{category}}</td> 
            <td>{{section}}</td>
            <td>{{instructor}}</td>
            <td>{{term}}</td>
            <td>{{date}}</td>
            <td>{{time}}</td>
            <td>{{description}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
