<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Craft Center - Class Registration</title>
  <link rel="stylesheet" href="/stylesheets/class-register-style.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Div Bar for OSU w/ logo -->
  <div id="osuBar">
    <img src="stylesheets/images/osuLogo.png" alt="OregonState" id="osuLogo">
  </div>
  <!-- Div bar for Craft Center name -->
  <div id="blackBar">
    <p id="barText">Craft Center Student View</p>
    <p id="logout">
      <a class="logout" href="/login"> Logout
      </a>
    </p>
  </div>

  <!-- Navigation Bar of Craft Center -->
  <div class="navBar">
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/profile">MY PROFILE</a></li>
        <li><a href="/my_classes">MY CLASSES</a></li>
        <li><a href="/open_classes">CLASS REGISTRATION</a></li>
        <li><a href="/membership">MEMBERSHIP REGISTRATION</a></li>
      </ul>
    </nav>
  </div>

  <div class="class-registration-container">
    <!-- Orange bar in My Classes box -->
    <div class="class-orange-heading">
      <!-- Title in My Classes box -->
      <h2 class="class-register-heading">Class Registration</h2>
    </div>
    <p> <b>Note: Class Registation can only be completed once students meets with front desk at Craft Center
        to complete fee payment. <b></p>

    <div class="search-box">
      <div class="search-bar-container">
        <!-- <input id="searchbar" onkeyup="search_animal()" type="text" placeholder="Search..." class ="textbox-search-bar" name="searchbar"> -->
        <input id="searchbar" type="text" placeholder="Search..." class="textbox-search-bar" name="searchbar"
          onkeyup="mySearchFunction()" data-search>
      </div>

      <div class="search-dropdowns-container">
        <!-- <form name="form1" id="form1" action="/action_page.php"> -->
        <form action="#" method="post">

          <div class="select-box" id="select-box-category">
            Category:
            <select>
              <option>Select</option>
              <option>Ceramics</option>
              <option>Fiber Arts</option>
              <option>Glass</option>
              <option>Jewelry</option>
              <option>Paper Arts</option>
              <option>Photography</option>
              <option>Woodworking</option>
            </select>
          </div>

          <div class="select-box" id="select-box-fee">
            Fee:
            <select>
              <!-- <option value="" selected>All Terms</option> -->
              <option value="1">Any Course Fee</option>
              <option value="2">Free for Fee Paying Students</option>
              <option value="3">$20 - $45</option>
              <option value="4">$45 - $100</option>
            </select>
          </div>
        </form>
      </div>

      <div class="class-user-card" data-user-card-container>

      </div>

      <div id="cards">

        {{#each open_classes}}

        <div class="card">
          <div class="add-class-btn-container">
            <button type="button" class="add-class-button" name="button" onclick="addClass({{class_ID}})">Add To My
              Classes
            </button>
          </div>


          <button type="button" class="collapsible" collapsible-header>{{section}}</button>

          <div class="content">
            <div class="body-header">
              <div class="item2">
                <h4>Category</h4>
                <p class="item2-category" item0-category-body>{{category}}</p>
              </div>
              <div class="item1">
                <h4>Instructor</h4>
                <p class="item1-instructor" item1-instructor-body>{{instructor}}</p>
              </div>
              <div class="item2">
                <h4>Dates</h4>
                <p class="item2-dates" item2-dates-body>{{date}}</p>
              </div>
              <div class="item3">
                <h4>Time</h4>
                <p class="item3-time" item3-time-body>{{time}}</p>
              </div>
              <div class="item4">
                <h4>Fee</h4>
                <p class="item4-fee" item4-fee-body>${{fee}}</p>
              </div>
              <div class="item5">
                <h4>Max Enrl</h4>
                <p class="item5-max-enrl" item5-max-enrl-body>{{max_enrolled}}</p>
              </div>
              <div class="item6">
                <h4>Acutal Enrl</h4>
                <p class="item6-actual-enrl" item6-actual-enrl-body>{{curr_enrolled}}</p>
              </div>
              <div class="item7">
                <h4>Description</h4>
                <p class="item7-descrip" item7-descrip-body>{{description}}</p>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>

    </div>

  </div>
  <script src="open_class_registration.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</body>

</html>