<h2><a href='/'>Back to Home Page</a></h2>

<h3>Available Classes:</h3>
<table>
    <thead> 
        <th>Class ID</th> 
        <th>Category</th>
        <th>Section</th>
        <th>Instructor</th>
        <th>Term</th>
        <th>Date</th>
        <th>Time</th>
        <th>Fee</th>
        <th>Description</th>
        <th>Add Button</th>
    </thead> 
    <tbody>
        {{#each open_classes}} 
        <tr> 
            <td>{{class_ID}}</td> 
            <td>{{category}}</td> 
            <td>{{section}}</td>
            <td>{{instructor}}</td>
            <td>{{term}}</td>
            <td>{{date}}</td>
            <td>{{time}}</td>
            <td>${{fee}}</td>
            <td>{{description}}</td>
            <td><button onclick="addClass({{class_ID}})">Add Class to Schedule</button></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>
